<h2><%= I18n.t('resend_unlock_instructions') %></h2>

<%= render 'layouts/messages' %>

<div class="container-fluid">
	<div class="row">
		<div class="span4 well">
			<%= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
			  <%= f.error_notification %>
			  <% resource.errors.each do |attribute| %>
			  	<p><%= I18n.t('auth.errors.' + attribute.to_s) %></p>
			  <% end %>

			  <div class="form-inputs">
			    <%= f.input :email, :required => true, :autofocus => true %>
			  </div>

			  <div class="form-actions">
			    <%= f.button :submit, "Resend unlock instructions" %>
			  </div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<%= render "devise/shared/links" %>
	</div> 
</div>
