<table class="table table-striped table-hover table-bordered">
  <tr>
    <th><%= I18n.t('staff_members.name') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% staff_members.each do |staff_member| %>
  <tr>
    <td><%= staff_member.name %></td>
    <td class="button_column"><%= link_to I18n.t('show'), staff_member, :class => 'btn btn-mini' %></td>
    <td class="button_column"><%= link_to I18n.t('edit'), edit_staff_member_path(staff_member), :class => 'btn btn-mini' %></td>
    <td class="button_column">
      <%= link_to I18n.t('destroy'), staff_member, :title => I18n.t('destroy'), data: { confirm: I18n.t('confirm') }, 'data-message_body' => I18n.t('modal.message_body'), 'data-cancel_text' => I18n.t('cancel'), 'data-confirmed_text' => I18n.t('modal.confirmed_text'), method: :delete, :class => 'btn btn-mini btn-danger' %>
    </td>
  </tr>
<% end %>
</table>

<%= will_paginate staff_members %>
