<%= render 'layouts/sub_navigation' %>

<div class="container-fluid">
	<div class="row">
		<div class="span6 well">
			<p>
			  <strong><%= I18n.t('staff_members.name') %>:</strong>
			  <%= @staff_member.name %>
			</p>
			<p>
			  <strong><%= I18n.t('staff_members.colour') %>:</strong>
			  <span class="label label-info" style="background-color: <%= @staff_member.colour %>;">&nbsp;</span>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			<%= link_to I18n.t('edit'), edit_staff_member_path(@staff_member), :class => 'btn btn-secondary' %>
			<%= link_to I18n.t('delete'), staff_member_path(@staff_member), :class => 'btn btn-danger', :title => I18n.t('destroy'), data: { confirm: I18n.t('confirm') }, 'data-message_body' => I18n.t('modal.message_body'), 'data-cancel_text' => I18n.t('cancel'), 'data-confirmed_text' => I18n.t('modal.confirmed_text'), method: :delete %>
			<br><br><%= render :partial => 'ics_controls' %>
		</div>
	</div>
</div>
