<a class="brand" href="/">
  <%= I18n.t('app_name_part1') %><span class="brand_colour"><%= I18n.t('app_name_part2') %></span>
</a>

<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<div class="nav-collapse collapse">
  <ul class="nav pull-right">
    <% if user_signed_in? %>
      <li>
        <%= link_to I18n.t('auth.log_out'), destroy_user_session_path, :method => 'delete' %>
      </li>
      <li>
        <%= link_to I18n.t('account.edit'), edit_user_registration_path %>
      </li>
      <% if current_user.has_role? :admin %>
        <li>
          <%= link_to I18n.t('users.list'), users_path %>
        </li>
        <li>
          <%= link_to I18n.t('admin_link_title'), rails_admin.dashboard_path %>
        </li>
      <% end %>
    <% else %>
      <li>
        <%= link_to I18n.t('auth.log_in'), new_user_session_path %>
      </li>
    <% end %>
  </ul>
</div>
